<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <div id="particles-js"></div>
    <div class="background">
        <div class="overlay">
            
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>PRODUCTOS</h4>
                <ul>
                    <li>Artículos promocionales</li>
                    <li>Merchandising</li>
                    <li>Stickers</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>POLÍTICAS</h4>
                <ul>
                    <li>Aviso legal</li>
                    <li>Política de privacidad</li>
                    <li>Política de cookies</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>CONTACTO</h4>
                <ul>
                    <li>Email: ejemplo@listoprint.com</li>
                    <li>Teléfono: +123 456 7890</li>
                    <li>Dirección: Calle Ejemplo 123, Lima, Perú</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>REDES SOCIALES</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/javascript/partículas.js"></script>
</body>
</html>